# i3status configuration file.
# see "man i3status" for documentation.

# It is important that this file is edited as UTF-8.
# The following line should contain a sharp s:
# ß
# If the above line is not correctly displayed, fix your editor first!

general {
        colors = true
        interval = 1 
}

order += "volume speaker"
order += "battery 1"
order += "tztime local"

tztime local {
        format = "%d/%m/%Y %H:%M:%S"
}

battery 1 {
    format = "%status %percentage %remaining (%consumption)"
    path = "/sys/class/power_supply/BAT0/capacity"
    low_threshold = "30"
    threshold_type = "percentage"
    last_full_capacity = true
    integer_battery_capacity = true
}

volume speaker {
    format = "vol: %volume"
    format_muted = "vol: MUTE"
    device = "default"
    mixer = "Master"
    mixer_idx = 0
}
